{% extends "base.html" %}
{% block content %}
  <h1>Dish Types list <a style="float: right" href="{% url 'restaurant_kitchen:dish-type-create' %}">+</a></h1>

  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>

      </tr>

      {% for dish in dish_type_list %}
        <tr>
          <td>{{ dish.id }}</td>
          <td>{{ dish.name }}</td>
          <td>
            <a href="{% url 'restaurant_kitchen:dish-type-update' pk=dish.id %}">Update</a>
          </td>
          <td>
            <a style="color: red" href="{% url 'restaurant_kitchen:dish-type-delete' pk=dish.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no dish types in the kitchen.</p>
  {% endif %}
{% endblock %}